<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="{{url_for("static",filename="home2.css")}}"> -->
  </head>
  <body>
    <a href="getstarted" style="color:white;background-color:#C50083;text-align:left;margin-top:38%; margin-left:50px" type="button" class="w3-btn w3-xlarge w3-ripple" name="button">Get Started</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danielgindi-jquery-backstretch/2.1.15/jquery.backstretch.min.js" charset="utf-8"></script>
    <script type="text/javascript">
      $.backstretch("./static/books2.png");
    </script>
  </body>
</html>
